body {
	
    margin-top: 0px;
    margin-right: 0px;
	margin-left: 0px;
	background-color: coral;
	width: 100%;

}
form{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 232, 220);
    border-radius: 10px;
}
 .botones{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 232, 220);
    border-radius: 10px;
}  
 